* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

h1{
color: orange;

}

h2{
color: orange;
  
}

h3{
color: orange;
      
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*body*/
body{
margin: auto;
background-image: url(https://media.istockphoto.com/id/665939740/es/foto/bicicleta-de-bmx-en-fondo-negro-con-humo.jpg?s=170667a&w=0&k=20&c=1XN0saMw32qXE5mkvcudA0uVTyFdFy2aUpxwGUC6xS8=);
font-family: sans-serif;
color: #ffffff;
position: relative;
min-height: 100vh;
padding-bottom: 60px;
}

/*MAIN */

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 30px;
}

.hero p {
  color: #ffffff;
}

img {
  width: 100%;
  border-radius: 150%;
  border: 3px rgb(255, 255, 255) solid;
  justify-content: center;
}

.caja {
  width: 100%;
  min-height: 400px;
  max-height: 100%;
}

/* MAIN CONTACT */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #2e2e31;
  padding: 10px;

}

/* MAIN GALERIA */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.grilla {
  background-color: #ffffff;
  padding: 10px;
   display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;

}

/*FOOTER*/

footer {
  background-color:  #080050b7;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

footer p {
  color: #ffffff;
}

/*HEADER*/
/*PROPIEDADES DE FONDO*/

.nav{
  background-color: #080050b7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  
  
  
}

.nav-brand a{
  color: rgb(255, 255, 255);
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 10px;

}

.nav-list{
  display: flex;
  gap: 15px;
  font-size: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-link{
  color: white;
  
}

/* GALERIA */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  margin-bottom: 20px;
}

.image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.5);
  color: #470097;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.image:hover .overlay {
  opacity: 1;
}

/* MEDIAS */

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:  #0bb619;
  padding: 10px;
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 992px) {
 
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 991px) and (min-width: 768px) {

}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {

}

