/* Estilos para el cuerpo de la página */
body {
  background-image: url(https://media.istockphoto.com/id/665939740/es/foto/bicicleta-de-bmx-en-fondo-negro-con-humo.jpg?s=170667a&w=0&k=20&c=1XN0saMw32qXE5mkvcudA0uVTyFdFy2aUpxwGUC6xS8=);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

/* Estilos para los encabezados */
h1, h2, h3 {
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 36px;
  color: #ff0000;
  text-shadow: 1px 1px #333;
  
}

h2 {
  font-size: 24px;
  color: #ff0000;
  margin-top: 40px;

}

h3 {
  font-size: 18px;
  color: #ff0000;
  margin-top: 20px;
}

.hero p {
  color: #ffffff;
  text-align: center;
}


/* Estilos para los enlaces */
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para los botones */
.button {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffffff;
}

nav {
  background-color: #333;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
 }
 
 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
 }
 
 li {
  margin: 0 10px;
 }
 
 a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
 }
 

 a:hover {
  background-color: #fff;
  color: #333;
 }

 /*galeria*/

 .galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
 }
 
 .fila {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
 }
 
 
 
 img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
 }




/* Estilos para los pies de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fff;

}


/*medias*/

@media screen and (max-width: 767px) {
  .my-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .my-container {
    width: 50%;
  }
  }
  @media  all  (min-width: 0px) (max-width: 767px) {
    .fresnel-at-sm {
      display: none !important;
    }
  }
  @media  all  (max-width: 1023px) {
    .fresnel-lessThan-lg {
      display: none !important;
    }
  }
  @media  all  (min-width: 1024px) {
    .fresnel-greaterThan-md {
      display: none !important;
    }
  }
  @media  all (min-width: 768px) {
    .fresnel-greaterThanOrEqual-md {
      display: none !important;
    }
  }
  @media  all  (min-width: 768px)  (max-width: 1191px) {
    .fresnel-between-md-xl {
      display: none !important;
    }
  }