/* MAIN CONTACT */
form {
  
 
    display: flex;
      
     
    flex-direction: column;
      
     
    justify-content: center;
      
     
    align-items: center;
      gap: 5px;
      background-color: #2e2e31;
      padding: 10px;
    }